<div class="container">
    <div class="jumbotron">
        <div class="container body-content">
            <h1 class="display-3">{{$ctrl.title}}</h1>
            <p class="lead">{{$ctrl.app_description}}</p>
        </div>
    </div>
</div>

<div class="home-page">
    <div class="container page">
        <!-- Splash banner that only shows when not logged in -->
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                <blockquote class="blockquote" show-authed="false">
                    <h3 class="m-b-0"> {{ $ctrl.title2 }}</h3>
                </blockquote>
            </div>
        </div>

        <div class="row">
            <!-- Sidebar where popular tags are listed -->
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                <!--<div class="sidebar">
                    <div class="menu_div">
                        <p class="menu_title text-center" show-authed="false">Menu</p>
                    </div>
                    <ul ng-repeat="x in $ctrl.categoryNodes.Nodes">
                        <li>
                            <div class="">
                                <p class="title">
                                    {{x.Name}}
                                    <p>
                            </div>
                            <ul ng-repeat="y in x.Nodes">
                                <li>
                                    <div ng-click="$ctrl.OnSelectChange(x.Id, y.Id)" class="choices">
                                        <p><i ng-show="$ctrl.selectedCategory[x.Id] == y.Id" class="fa fa-chevron-right"></i>{{y.Name}}</p>
                                    </div>
                                </li>
                            </ul>
                        </li>

                    </ul>

                    <p show-authed="false">Your Order <span class="tag tag-default">{{ $ctrl.cartItems }}</span></p>
                </div>-->

                <app-side-bar></app-side-bar>
                <!--<p show-authed="false">Your Order <span class="tag tag-default">{{ $ctrl.cartItems }}</span></p>-->
            </div>

            <!-- Main view - contains tabs & article list -->
            <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
                <p>Choose your favorite pizza!</p>
                <div ng-repeat="item in $ctrl.items" class="col-md-6">
                    <div class="card card-block">
                        <a ui-sref="app.pizza({pizzaId: item.Id})">
                            <img class="card-img-top" width="318" height="180" ng-src="{{ item.Image }}" alt="pizza boy">
                        </a>
                        <div class="card-block">
                            <h4 class="card-title">{{ item.Name }}</h4>
                            <p class="card-text">{{ item.Description }}</p>
                            <p class="card-text"><b>PHP {{ item.Price | number:2 }}</b></p>
                            <a href="#" class="btn btn-primary" ng-click="$ctrl.AddToCart(item)">Add To Cart</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 space_bottom"></div>
        </div>
    </div>
</div>