<div class="container">
    <div class="jumbotron">
        <div class="container body-content">
            <h1 class="display-3">{{$ctrl.title}}</h1>
            <p class="lead">{{$ctrl.app_description}}</p>
        </div>
    </div>
</div>

<div class="home-page">
    <div class="container page">
        <div class="row">
            <div class="col-md">

                <div ng-repeat="order in $ctrl.orders" class="col-md-6">
                    <div class="card card-block">   
                        <a ui-sref="app.pizza({pizzaId: order.Id})">
                            <img class="card-img-top" ng-src="{{ order.Pizza.Image }}" alt="pizza boy">
                        </a>
                        <div class="card-block">
                            <h4 class="card-title">{{ order.Pizza.Name }}</h4>
                            <p class="card-text">{{ order.Pizza.Description }}</p>
                            <p class="card-text">Quantity: {{ order.Quantity }}</p>
                            <!--<a href="#" class="btn btn-primary" ng-click="$ctrl.AddToCart(item)">Add To Cart</a>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>